.footer_part{

    height: auto;
    min-width: auto;
    display: flex;
    background-color: rgba(250,250,250,1);
    padding:70px 64px 70px 68px;
    
    margin-left: auto;
    margin-right: auto;
    

}

.about_store{
    display: inline-block;

}

about{

    text-align: center;
}



.other_links{
    display: flex;
    size: 15px;

    
}

h1,p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,1);
    
}

h1{

    font-weight:bold;
}



p{
    padding-top: 24px;
}

ul{
    padding-top: 12px;
}




.helpful_link{
        display: block;
        text-align: left;
        padding-left: 112px;
        
        

}

ul{
    padding-left: 0;
    padding-bottom: 16px ;
}


.quick_shop{
    padding-left: 112px;

}

.lets_stay_in_touch{
        display: block;
        padding-left: 112px; ;
        


}

.lets_stay_in_touch.form{
    display: block;
}

